<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Show Tiger</title>
    </head>
    <body>
        <h1>Show Tiger:</h1>
        <h3>Name: <%= tiger.name %></h3>
        <h3>Type: <%= tiger.type %></h3>
        <a href="/">Home</a>
        <a href="/tigers/edit/<%= tiger._id %>">Edit Tiger</a>
    </body>
</html>